// Global resets, font, colors and sizes's variables.
@import './components/main.scss';


// Header
@import './components/header.scss';

// main section
.home__main {
	padding: 0 40px;
}

// Hero
.main__blog {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	height: auto;
	margin-top: 50px;
	padding: 40px;
	background-color: $terciary-color;
	border-radius: 10px;
	.main__blog-img {
		grid-column: 1;
		p {
			margin-bottom: 20px;
			font-size: $md-size;
			font-weight: bold;
		}
		img {
			width: 90%;
			border-radius: 10px;
		}
	}
	.main__blog-title {
		grid-column: 2;
		@include flexCenter(column, center, null, null, 25px);
		h2 {
			font-size: $lg-size-two;
		}
		p {
			font-size: $md-size;
		}
		button {
			@include buttonStyle;
			a {
				color: $white;
				text-decoration: none;
			}
		}
	}
}

// blogs section
.general__blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: 50px 20px;
	margin-bottom: 50px;
	h2 {
		grid-area: 1 / 2 / 2 / 3;
		margin: 50px 0 0 0;
		text-align: center;
		font-size: $lg-size-two;
	}
	.post {
		img {
			width: 100%;
			border-radius: 10px;
			margin-bottom: 20px;
		}
		h3 {
			font-size: $sm-size;
			margin-bottom: 20px;
		}
		p {
			font-size: $sm-size;
			margin-bottom: 20px;
		}
		button {
			@include buttonStyle;
		}
	}
	.post-1 {
		grid-area: 2 / 1 / 3 / 2;

	}
	.post-2 {
		grid-area: 2 / 2 / 3 / 3;

	}
	.post-3 {
		grid-area: 2 / 3 / 3 / 4;

	}
	.post-4 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.post-5 {
		grid-area: 3 / 2 / 4 / 3;
	}
	.post-6 {
		grid-area: 3 / 3 / 4 / 4;
	}
}

// Contact section
.contact__us {
	@include flexCenter(row, space-between, null, null, null);
	margin-bottom: 50px;
	padding: 10px;
	background-color: $terciary-color;
	border-radius: 10px;
	img {
		width: 150px;
		height: 150px;
		padding: 10px;
	}
	.mail__container {
		@include flexCenter(row, null, center, null, null);
		h4 {
			font-size: $sm-size;
			padding: 10px;
		}
		p {
			font-size: $sm-size-two;
			padding: 10px;
		}
	}
	.text__us {
		@include flexCenter(row, null, center, null, null);
		h4 {
			font-size: $sm-size;
			padding: 10px;
		}
		p {
			font-size: $sm-size-two;
			padding: 10px;
		}
	}
}

// Footer
@import './components/footer.scss';