// Global resets, font, colors and sizes's variables.
@import 'components/main.scss';

// Header
@import 'components/header.scss';

// Main
.home__main {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	height: calc(100vh - 140px);
	padding: 50px 0;
	background: url('https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center/cover fixed;
}

// Hero
.hero {
	grid-column: 2;
	@include flexCenter(column, center, center, null, 50px);
	height: 100%;
	.hero__title{
		text-align: center;
		font-size: $lg-size;
		color: $white;
	}
	.hero__btn {
		@include buttonStyle;
		margin: 0 auto;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

// footer
@import 'components/footer.scss';