// Global resets, font, colors and sizes's variables.
@import './main.scss';

// footer
footer {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	height: 100px;
	background-color: $primary-color;
	p {
		grid-row: 2;
		width: 100%;
		padding: 20px;
		text-align: center;
		font-size: $sm-size;
		color: $white;
		background-color: $secondary-color;
	}
}