// Colors
$primary-color: #40C7A5;
$secondary-color: #212129;
$terciary-color: #E6E8EC;
$white: #fff;
$black: #000;

// Font
$primary-font: 'DM Sans', sans-serif;

// Font sizes
$lg-size: 4rem;
$lg-size-two: 3.5rem;
$md-size: 2rem;
$md-size-two: 2.5rem;
$sm-size: 1.8rem;
$sm-size-two: 1.6rem;

// Global resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: $primary-font;
}

// flexbox and buttons styles
@mixin flexCenter($direction, $content: null, $align: null, $wrap: null, $gap: null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $align	;
	flex-wrap: $wrap;
	gap: $gap;
}
@mixin buttonStyle {
	padding: 10px;
	width: 150px;
	height: 40px;
	font-size: $sm-size;
	font-weight: bold;
	color: $white;
	background-color: $primary-color;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
	}
}
