*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 120px;
  background-color: #40C7A5;
}
.header .social-networks {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.header .navbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
  padding: 0 20px;
}
.header .navbar .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header .navbar .navbar__logo a img {
  width: 40px;
  height: 40px;
}
.header .navbar .navbar__about {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0 50px;
}
.header .navbar .navbar__about a {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100px;
  background-color: #40C7A5;
}
.footer p {
  grid-row: 2;
  width: 100%;
  padding: 20px;
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  background-color: #212129;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 0 40px;
}

.hero {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 50px 0;
  padding: 40px;
  background-color: #CDD0D9;
  border-radius: 10px;
}
.hero .hero__img {
  grid-column: 1;
  width: 100%;
}
.hero .hero__img img {
  width: 90%;
  border-radius: 10px;
}
.hero .hero__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.hero .hero__presentation h1 {
  font-size: 2.188rem;
}
.hero .hero__presentation p {
  font-size: 1.25rem;
}
.hero .hero__presentation button {
  width: 150px;
  height: 40px;
  padding: 0 10px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  background-color: #40C7A5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.projects {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 50px 0;
}
.projects .title {
  grid-area: 1/2/2/3;
  text-align: center;
}
.projects .title h2 {
  margin-bottom: 10px;
  font-size: 1.563rem;
}
.projects .title hr {
  background-color: #000;
  margin-bottom: 50px;
}
.projects .post img {
  width: 100%;
  border-radius: 10px;
}
.projects .post h3 {
  font-size: 1.25rem;
  margin: 10px 0 20px 0;
}
.projects .post p {
  font-size: 1rem;
}
.projects .post-1 {
  grid-area: 2/1/3/2;
}
.projects .post-2 {
  grid-area: 2/2/3/3;
}
.projects .post-3 {
  grid-area: 2/3/3/4;
}

.contact__us {
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
  padding: 10px;
  background-color: #CDD0D9;
  border-radius: 10px;
}
.contact__us img {
  width: 50px;
  height: 50px;
  padding: 0 10px;
}
.contact__us .email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__us .email h4 {
  font-size: 1.125rem;
}
.contact__us .email p {
  font-size: 1rem;
}
.contact__us .text__us {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__us .text__us h4 {
  font-size: 1.125rem;
}
.contact__us .text__us p {
  font-size: 1rem;
}

/*# sourceMappingURL=profile.css.map */
